doc/doxygen
build*
*~
*.orig
doxygen-tag
*.log
*BASE*
*LOCAL*
*REMOTE*
doxy-header.html
*.svn
headertest*
Makefile
stamp-h1
config.*
!config.h.cmake
*.swp
CMakeLists.txt.user
demos
data
.libs
*.o
*.la
*.user
cmake/modules/petsc
.idea
__pycache__
dune/xt/test/gtest/lib
data
!dune/xt/data
.libs
*.o
*.la
*.user
.idea
cmake/modules/petsc
*.pyc
tags
.vscode
